@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-white transition-colors duration-300;
  }
}
